# Emoji

EMOJI_ONLINE=<:emoji:id>
EMOJI_OFFLINE=<:emoji:id>
EMOJI_IDLE=<:emoji:id>
EMOJI_DND=<:emoji:id>
EMOJI_STREAMING=<:emoji:id>
EMOJI_CREST=<:emoji:id>

# Bot

HUB_GUILD=ID
OWNERS=ID,ID,ID
TOKEN=Token
XIV_KEY=XivAPIKey
DATABASE_LOGIN=postgresql://user:secret@localhost/dbname
PREFIX=!xiv

# Formating

DATE_FORMAT=MMM_do_yyyy
EMBED_DEFAULT_COLOR=3553599

# ICON_ONLINE/DND/IDLE/OFFLINE - icons used for channel icon color (originally based on discord status colors)  
# EMOJI_ONLINE/OFFLINE/IDLE/DND/STREAMING - emojis used for info embeds  
# EMOJI_CREST/FAIL - emojis used for DM handling on the hub server  
# HUB_GUILD - server ID used to identify the hub guild where DM channels are created  
# OWNERS - owner ID, if multiple separated by `,`  
# TOKEN - discord API bot token  
# XIV_KEY - xivapi key  
# DATABSE_LOGIN - pg connection string to handle DM channels  
# PREFIX - default prefix to be used by the bot, guild based prefixes are available through commands  
# DATE_FORMAT - date-fns format strings https://date-fns.org/v2.0.0-alpha.23/docs/format (spaces replaced by _ to be compatible with .env snytax)  
# EMBED_DEFAULT_COLOR - default color to be used for embeds